.advantages
    h2.advantages__title
        span преимущества сервиса
    .advantages__icons
        .advantages__icons-item
            .ico-wrap
                i(data-ico="hub").ico
                    svg.ico__svg
                        use(xlink:href="#hub")
            .advantages__icons-txt Самовывоз из торговых центров Москвы
        .advantages__icons-item
            .ico-wrap
                i(data-ico="delivery").ico
                    svg.ico__svg
                        use(xlink:href="#delivery")
            .advantages__icons-txt Срочная доставка <br/>заказа
        .advantages__icons-item
            .ico-wrap
                i(data-ico="gift").ico
                    svg.ico__svg
                        use(xlink:href="#gift")
            .advantages__icons-txt Подарочное <br/>оформление
        .advantages__icons-item
            .ico-wrap
                i(data-ico="personalization").ico
                    svg.ico__svg
                        use(xlink:href="#personalization")
            .advantages__icons-txt Персонализация <br/>карт
        .advantages__icons-item
            .ico-wrap
                i(data-ico="commission").ico
                    svg.ico__svg
                        use(xlink:href="#commission")
            .advantages__icons-txt Отсутствие <br/>комиссий