.footer-info
    .inner-block
        .footer-info__header
            .footer-info__header-num +7 (495) 933-95-93
            .footer-info__header-address
                | г. Москва, 127083, Петровско-Разумовская аллея,
                br
                | д. 10, к.1, офис 11.
            .footer-info__header-ccards
                i(data-ico="mastercard").ico
                    svg.ico__svg
                        use(xlink:href="#mastercard")
                i(data-ico="visa").ico
                    svg.ico__svg
                        use(xlink:href="#visa")
        .footer-info__footer
            .footer-info__footer-copyright © 2015 - DariKartu.ru
            nav.footer-info__footer-nav
                a(href='#').footer-info__footer-nav-link Выбрать подарок
                a(href='#').footer-info__footer-nav-link Как это работает
                a(href='#').footer-info__footer-nav-link Отзывы
                a(href='#').footer-info__footer-nav-link О нас
            .footer-info__footer-developer
                | Разработано в
                i(data-ico="developer-logo").ico
                    svg.ico__svg
                        use(xlink:href="#developer-logo")
