.header-panel
    .inner-block
        nav.header-panel__nav
            a(href='#').header-panel__nav-link Каталог
            a(href='#').header-panel__nav-link О нас
            a(href='#').header-panel__nav-link Доставка и оплата
            a(href='#').header-panel__nav-link Условия
            a(href='#').header-panel__nav-link Контакты
        div.header-panel__additional
            a(href='#').header-panel__additional-link Корпоративным клиентам

        div.header-panel__contacts
            i(data-ico="phone").ico.ico--m
                svg.ico__svg
                    use(xlink:href="#phone")
            | +7 499 372-16-62
