nav.header__nav
    .header__nav-item
        a(href='#').header__nav-link Подарок по поводу
        .header__nav-sub
            .header__nav-sub__col
                .header__nav-sub__item
                    a(href='#').header__nav-sub__link Новый год
                .header__nav-sub__item
                    a(href='#').header__nav-sub__link Рождество
                .header__nav-sub__item
                    a(href='#').header__nav-sub__link 23 февраля
                .header__nav-sub__item
                    a(href='#').header__nav-sub__link День Святого Валентина
                .header__nav-sub__item
                    a(href='#').header__nav-sub__link 8 марта
                .header__nav-sub__item
                    a(href='#').header__nav-sub__link День рождения
                .header__nav-sub__item
                    a(href='#').header__nav-sub__link Свидание
                .header__nav-sub__item
                    a(href='#').header__nav-sub__link Свадьба
                .header__nav-sub__item
                    a(href='#').header__nav-sub__link Рождение ребенка
            .header__nav-sub__col
                .header__nav-sub__item
                    a(href='#').header__nav-sub__link Новый год
                .header__nav-sub__item
                    a(href='#').header__nav-sub__link Рождество
                .header__nav-sub__item
                    a(href='#').header__nav-sub__link День рождения
                .header__nav-sub__item
                    a(href='#').header__nav-sub__link Свидание
                .header__nav-sub__item
                    a(href='#').header__nav-sub__link Свадьба
                .header__nav-sub__item
                    a(href='#').header__nav-sub__link Рождение ребенка
    .header__nav-item
        a(href='#').header__nav-link По категориям
        .header__nav-sub
            .header__nav-sub__col
                .header__nav-sub__item
                    a(href='#').header__nav-sub__link Новый год
                .header__nav-sub__item
                    a(href='#').header__nav-sub__link Рождество
                .header__nav-sub__item
                    a(href='#').header__nav-sub__link 23 февраля
                .header__nav-sub__item
                    a(href='#').header__nav-sub__link День Святого Валентина
                .header__nav-sub__item
                    a(href='#').header__nav-sub__link 8 марта
                .header__nav-sub__item
                    a(href='#').header__nav-sub__link День рождения
                .header__nav-sub__item
                    a(href='#').header__nav-sub__link Свидание
                .header__nav-sub__item
                    a(href='#').header__nav-sub__link Свадьба
                .header__nav-sub__item
                    a(href='#').header__nav-sub__link Рождение ребенка
            .header__nav-sub__col
                .header__nav-sub__item
                    a(href='#').header__nav-sub__link Новый год
                .header__nav-sub__item
                    a(href='#').header__nav-sub__link Рождество
                .header__nav-sub__item
                    a(href='#').header__nav-sub__link День рождения
                .header__nav-sub__item
                    a(href='#').header__nav-sub__link Свидание
                .header__nav-sub__item
                    a(href='#').header__nav-sub__link Свадьба
                .header__nav-sub__item
                    a(href='#').header__nav-sub__link Рождение ребенка
    .header__nav-item
        a(href='#').header__nav-link Кому подарок
        .header__nav-sub
            .header__nav-sub__col
                .header__nav-sub__item
                    a(href='#').header__nav-sub__link Новый год
                .header__nav-sub__item
                    a(href='#').header__nav-sub__link Рождество
                .header__nav-sub__item
                    a(href='#').header__nav-sub__link 23 февраля
                .header__nav-sub__item
                    a(href='#').header__nav-sub__link День Святого Валентина
                .header__nav-sub__item
                    a(href='#').header__nav-sub__link 8 марта
                .header__nav-sub__item
                    a(href='#').header__nav-sub__link День рождения
                .header__nav-sub__item
                    a(href='#').header__nav-sub__link Свидание
                .header__nav-sub__item
                    a(href='#').header__nav-sub__link Свадьба
                .header__nav-sub__item
                    a(href='#').header__nav-sub__link Рождение ребенка
            .header__nav-sub__col
                .header__nav-sub__item
                    a(href='#').header__nav-sub__link Новый год
                .header__nav-sub__item
                    a(href='#').header__nav-sub__link Рождество
                .header__nav-sub__item
                    a(href='#').header__nav-sub__link День рождения
                .header__nav-sub__item
                    a(href='#').header__nav-sub__link Свидание
                .header__nav-sub__item
                    a(href='#').header__nav-sub__link Свадьба
                .header__nav-sub__item
                    a(href='#').header__nav-sub__link Рождение ребенка