.header-base
    .inner-block
        .header-base__row
            .header-base__col.header-base__logo
                a(href='#')
                    i(data-ico="logo").ico
                        svg.ico__svg
                            use(xlink:href="#logo")
                .header-base__slogan Дарите подарки, о которых мечтают!
            .header-base__col
                .header-base__row
                    .header-base__col
                        .header-base__row
                            include header-navigation.jade
                            .header-base__search
                                .header-base__searchInner
                                    form
                                        .header-base__row
                                            .header-base__col
                                                i(data-ico="search").ico.ico--m
                                                    svg.ico__svg
                                                        use(xlink:href="#search")
                                            .header-base__col.header-base__searchInput
                                                .form-grp
                                                    label.form-label.js-search-trigger(for='search-form')
                                                        i(data-ico="search").ico.ico--m
                                                            svg.ico__svg
                                                                use(xlink:href="#search")
                                                        | Что ищем?
                                                    input.form-ctrl(id='search-form', placeholder='Что бы вы хотели найти?')
                                            .header-base__col(style='width:0')
                                                .header-base__searchCtrls
                                                    .header-base__col
                                                        button.btn Найти
                                                    .header-base__col
                                                        span.js-search-trigger
                                                            i(data-ico="remove").ico.ico--m
                                                                svg.ico__svg
                                                                    use(xlink:href="#remove")
                    .header-base__col.header-base__cart
                        span.header-base__cart-count
                            i(data-ico="cart").ico.ico--m
                                svg.ico__svg
                                    use(xlink:href="#cart")
                            | 3