.information
    .tab
        .tab__switcher
            span(data-tab="desc").tab__switcher-item.active Описание
            span(data-tab="how-to-buy").tab__switcher-item Где купить
            span(data-tab="how-to-use").tab__switcher-item Как воспользоваться
            span(data-tab="conditions").tab__switcher-item Условия
        #desc.tab__content.active
            p Один из создатель марки — профессиональный психолог, который заметил парадоксальную закономерность: большинство людей не любят говорить о том, что именно они хотели бы получить  в подарок, но при этом в тайне надеются, что  окружающие отгадают их мечты и бывают сильно разочарованы, если этого не случается. Именно поэтому возник такой компромиссный вариант, как подарочная карта.
            p Профессиональный психолог, который заметил парадоксальную закономерность: большинство людей не любят говорить о том, что именно они хотели бы получить  в подарок.
        #how-to-buy.tab__content
            p Curabitur vulputate, orci nec faucibus porttitor, orci libero ultrices risus, id pretium lorem purus in eros. Cras augue velit, sodales in erat a, sagittis convallis elit. Proin eu volutpat velit. Aliquam vel nulla euismod, rhoncus nisl id, dictum leo. Cras malesuada arcu ut eros porta, non pellentesque dui condimentum. Cras elementum leo in tempor porta. Integer auctor vitae quam a congue. Fusce viverra quam id massa porttitor, ut malesuada ex porttitor. Maecenas nec lorem at purus pulvinar semper. In imperdiet ac neque non tristique. Donec pharetra semper interdum. Etiam blandit aliquet arcu, vel sollicitudin dolor gravida in. Aliquam eget eros sagittis, laoreet lacus non, mattis dui. Cras sodales sed magna efficitur maximus. Duis fermentum tortor dolor, sed aliquam nisl vehicula id. Vivamus consequat blandit diam sed posuere.
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris lacinia nisi vitae sem venenatis, vitae ornare felis facilisis. Sed ac magna at velit fringilla tempus eget nec dolor. Fusce lacinia nibh nec venenatis tincidunt. Aliquam metus nibh, interdum nec posuere convallis, vulputate sed odio. Nullam ornare nunc at ex egestas, quis ultrices ex lacinia. Pellentesque molestie commodo pellentesque. Nullam nisi augue, iaculis sed ipsum ac, rutrum viverra dui. In quis augue neque. Mauris egestas convallis urna, a sagittis neque varius vitae. Pellentesque hendrerit erat sed velit viverra, quis pulvinar tellus volutpat.
        #how-to-use.tab__content
            p Integer et imperdiet diam, nec ultrices turpis. Donec vel tristique est, vitae porttitor elit. Ut tincidunt blandit mauris et eleifend. Nam malesuada faucibus metus sit amet convallis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut vestibulum aliquam ex, non malesuada nunc vehicula id. Morbi ex diam, hendrerit et fermentum eu, mattis non mauris. Ut elementum quam dapibus urna aliquet lobortis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce in neque fermentum, egestas mauris sed, rhoncus erat. Aenean imperdiet pretium nulla, vel fringilla nunc fringilla vitae. Aenean feugiat dolor at dignissim congue. In sem neque, sollicitudin eu interdum vitae, dictum ac ligula. Quisque ultricies, eros sollicitudin euismod laoreet, leo massa mollis nulla, quis suscipit lectus nulla non lectus.
            p In mattis urna dolor, eget bibendum ipsum congue ultricies. Quisque a odio fermentum, dapibus arcu a, posuere ipsum. Aliquam consequat et odio gravida luctus. Integer luctus id sapien sit amet eleifend. Suspendisse et fermentum urna, sed malesuada erat. Nam rhoncus maximus leo, non pulvinar lacus pulvinar vitae. Cras in gravida risus, interdum maximus enim. Nulla in euismod erat, nec scelerisque mi. Nulla blandit aliquam ultricies. Sed sed imperdiet dui. Ut justo dui, ultricies vitae volutpat nec, lobortis et lacus. Sed eu ligula eget quam pretium condimentum ac sed libero.
        #conditions.tab__content
            p Curabitur urna ex, consequat nec iaculis in, sagittis a leo. Praesent et venenatis dui. Donec ac consectetur metus, eget molestie lectus. Donec vestibulum lorem a congue cursus. Nulla euismod aliquet ligula, vitae dictum odio hendrerit at. Duis ac commodo elit. Ut odio ligula, maximus quis ante hendrerit, facilisis placerat enim. Nulla dignissim blandit nisi nec semper. Duis finibus tortor nec justo interdum tincidunt. Duis molestie felis quis risus pulvinar ultricies. Vivamus in faucibus mauris, at condimentum tellus. Aenean velit est, pretium quis tellus vel, maximus tristique lorem.
            p Praesent luctus mi quis lobortis vehicula. Sed sed urna sit amet augue tristique auctor nec ut quam. Curabitur neque eros, maximus eu mollis nec, laoreet ut lorem. Vivamus fringilla aliquam dolor eget tristique. Sed convallis ex nec enim imperdiet convallis. Pellentesque ac volutpat neque. Donec lacinia nibh quis ipsum porta vehicula. Curabitur euismod finibus lacus vel eleifend. Vestibulum lacinia sodales nisl vel semper. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

