.paginator
    span.paginator__item
        a(href='#').paginator__item-link.paginator__item-link--prev Назад
    span.paginator__item
        a(href='#').paginator__item-link 1
    span.paginator__item
        a(href='#').paginator__item-link ...
    span.paginator__item
        a(href='#').paginator__item-link 10
    span.paginator__item
        a(href='#').paginator__item-link 11
    span.paginator__item.paginator__item--active 12
    span.paginator__item
        a(href='#').paginator__item-link 13
    span.paginator__item
        a(href='#').paginator__item-link 14
    span.paginator__item
        a(href='#').paginator__item-link ...
    span.paginator__item
        a(href='#').paginator__item-link 153
    span.paginator__item
        a(href='#').paginator__item-link.paginator__item-link--next Дальше
