.reviews
    h2.reviews__title
        span отзывы
    .reviews-content
        .reviews-item
            .reviews__pic
                img(src='img/temp/temp_06.jpg').reviews__pic-img
            .reviews__txt
                .reviews__txt-name Галина Шишковская
                .reviews__txt-content «Курсы итальянского языка в Мире без границ — это лучшие курсы итальянского в Минске, по мнению самих слушателей...»

        .reviews-item
            .reviews__pic
                img(src='img/temp/temp_07.jpg').reviews__pic-img
            .reviews__txt
                .reviews__txt-name Анастасия Фролова
                .reviews__txt-content «Курсы итальянского языка в Мире без границ — это лучшие курсы итальянского в Минске, по мнению самих слушателей... проходивших обучение»
