.social-links
    span.social-links__label Поделиться:
    span.social-links__item
        i(data-ico="fb").ico.ico--s
    span.social-links__item
        i(data-ico="vk").ico.ico--s
    span.social-links__item
        i(data-ico="ok").ico.ico--s
    span.social-links__item
        i(data-ico="ma").ico.ico--s
    span.social-links__item
        i(data-ico="goo").ico.ico--s
    span.social-links__item
        i(data-ico="ya").ico.ico--s
