.sunbsribe_about-txt
    .sunbsribe-wrap
        .sunbsribe
            .sunbsribe__title Подписка на новости
            form
                .form-grp
                    label.form-label-hid Ваша электронная почта
                    input(type='text' placeholder='Ваша электронная почта').form-ctrl
                button.btn.btn--block.btn--secondary
                    span.btn__txt Подписаться
    .about-txt
        h3 Текст о сервисе
        p Но только что он вступил в столовую (еще через одну комнату от гостиной), с ним в дверях почти столкнулась выходившая Аглая. Она была одна. Пристальный и беспокойный ее взгляд нетерпеливо устремился на Аглаю. Обе сели поодаль одна от другой: Аглая на диване в углу комнаты, Настасья Филипповна у окна. Князь и Рогожин не садились, да их и не пригласили садиться. Князь с недоумением и как бы с болью опять поглядел на Рогожина, но тот улыбался всё прежнею своею улыбкой. Молчание продолжалось еще несколько мгновений. Когда наконец они повернули с двух разных тротуаров в Гороховую и стали подходить к дому Рогожина, у князя стали опять подсекаться ноги, так что почти трудно было уж и идти. Было уже около десяти часов вечера. Окна на половине старушки <span class="apseudo js-expand-trigger">Развернуть</span>
            span.expand-txt Но только что он вступил в столовую (еще через одну комнату от гостиной), с ним в дверях почти столкнулась выходившая Аглая. Она была одна. Пристальный и беспокойный ее взгляд нетерпеливо устремился на Аглаю. Обе сели поодаль одна от другой: Аглая на диване в углу комнаты, Настасья Филипповна у окна. Князь и Рогожин не садились, да их и не пригласили садиться. Князь с недоумением и как бы с болью опять поглядел на Рогожина, но тот улыбался всё прежнею своею улыбкой. Молчание продолжалось еще несколько мгновений. Когда наконец они повернули с двух разных тротуаров в Гороховую и стали подходить к дому Рогожина, у князя стали опять подсекаться ноги, так что почти трудно было уж и идти. Было уже около десяти часов вечера. Окна на половине старушки
