.btn {
  border: none;
  background: #00c2d9;
  color: #fff;
  height: 36px;
  min-width: 126px;
  border-radius: 22px;

  box-sizing: border-box;


  font-family: inherit;
  font-size:1.0666666666666667em;
  font-weight: bold;
  line-height: 1.5;
  -webkit-appearance:	none;
     -moz-appearance:	none;
          appearance:	none;

  cursor: 				pointer;
  display: 				inline-block;
  outline: 				none;
  position: relative;
  padding: 6px 20px;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;

  &::-moz-focus-inner {
	padding: 0;
	border: 0;
  }
  &__txt {
    display: inline-block;
    vertical-align: baseline;
  }
  &:hover, &:focus {
    background: #33cee1;
    color: #fff;
  }
  &:active {
    background: #33cee1;
  }
}
.btn--secondary {
  background-color: #e4e4e4;
  background-image: linear-gradient(to top, #CBCBCB 0%, #FFF 100%);
  color: #747373;
  border: 4px solid #fafaf9;

  &:hover, &:focus {
    background-color: #c8c8c8;
    background-image: linear-gradient(to top, #989898 0%, #F4F4F4 100%);
    color: #434343;
  }
  &:active {
    background-color: #c8c8c8;
    background-image: linear-gradient(to bottom, #A3A3A3 0%, #FFF 100%);
    color: #747373;
  }
}


.btn--block {
  display: block;
  input&,
  button& {
	width: 100%;
  }
}