.form-label-hid {
  display: none;
}
//.form-label {
//  font-family: @baseFont-Family;
//  font-size: 13px;
//  line-height: 22px;
//  display: block;
//}
.form-grp {
  position: relative;
  & + & {
	margin-top: 8px;
  }
}
.form-ctrl,
.selectric {
  -webkit-appearance:	none;
  -moz-appearance:	none;
  appearance:	none;
  display: block;
  font-family: inherit;
  border: none;
  border-radius: 0;

  background-color: #f4f4f4;
  box-shadow: none;

  padding: 2px 20px;
  padding-top: 9px;
  padding-bottom: 9px;
  height: 42px;
  font-size: inherit;
  line-height: inherit;
  width: 100%;
  box-sizing: border-box;
  color: #000;
  outline: none;
  resize: none;
}
select.form-ctrl,
.selectric {
  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }
}
.select {
  &__img {
    display: table-cell;
    vertical-align: middle;
    width: 140px;
    min-width: 140px;
    max-width: 140px;
    padding-right: 40px;
    text-align: center;
  }
  &__text {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
  }
  &__price {
    white-space: nowrap;
    display: table-cell;
    vertical-align: middle;
    font-weight: bold;
    font-family:  Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    min-width: 80px;
    text-align: center;
  }
}
textarea {
  min-height: 95px;
}
[type=submit] {
  cursor: pointer;
}

.form-checkbox,
.form-radio {
  position: relative;
  padding-left: 40px;
  line-height: 1.2;
  margin-bottom: 25px;
  min-height: 22px;

  &--right {
    padding-left: 0;
    padding-right: 40px;
  }

  &__input {
    width: 18px;
    height: 18px;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 2px;
    top: 2px;
  }
  &--right &__input {
    left: auto;
    right: 2px;
  }
  &__ico {
    background-color: #f4f4f4;
    position: absolute;
    width: 22px;
    height: 22px;
    left: 0;
    top: 0;
    text-align: center;
    color: #000;

    .ico {
      vertical-align: top;
      margin-top: 3px;
      visibility: hidden;
    }
  }
  &--right &__ico {
    left: auto;
    right: 0;
  }
  &__input:checked + &__txt .ico {
    visibility: visible;
  }
  label:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}
.form-radio {
  &__ico {
    border-radius: 50%;
    color: #06c1e4;
  }
}

.form-range > .irs {
  font-family: Arial,"Helvetica Neue", Helvetica, sans-serif;
  font-size: 0.8666666666666667em;
  line-height: 1.3846153846153846;
  margin-top: 40px;
  z-index: 0;

  .irs-line {
    background-color: #e4e4e4;
    height: 4px;
  }
  .irs-bar {
    background-color: #ffffff;
    height: 4px;
    top: 0;
  }
  .irs-slider {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #e4e4e4;
    border: 5px solid #fff;
    top: 50%;
    margin-top: -9px;
  }
  .irs-from, .irs-to, .irs-single, .irs-max, .irs-min {
    top: -30px;
  }
}
.selectric {
  .label {
    margin: 0;
    font-size: inherit;
    height: auto;
    line-height: inherit;
    margin-right: 25px;
  }
  .button {
    content: '▼';
    display: block;
    font-size: inherit;
    position: absolute;
    color: #444;
    top: 0;
    right: 0;
    width: 42px;
    height: 42px;
    line-height: 42px;

    &:after {
      display: none;
    }
  }
  &-hover & .button {
    color: #444;
  }
  &-open&-form-ctrl & {
    background: #77C01D;
    color: #fff;
  }
  &-items {
    border: none;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.09);
    width: auto!important;
    right: 0;
    ul, li {
      list-style: none;
      font-size: inherit;
      line-height: inherit;
      color: inherit;
    }
    li {
      border: none;
      padding: 7px 20px 11px;
      &:hover,
      &.selected{
        background-color: #fbfbfb;
      }
    }
    li:before {
      display: none;
    }
  }
}
.stepper  {
  padding-left: 40px;
  padding-right: 40px;
  position: relative;
  &-input {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    overflow: hidden;

    height: 34px;
    line-height: 24px;
    width: 34px;
    text-align: center;
    padding: 0;
    font-family:  Arial, "Helvetica Neue", Helvetica, sans-serif;
    background: none !important;
    box-shadow: none !important;
    color: #000;
    cursor: default;
    margin-left: auto;
    margin-right: auto;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
    }
  }
  &-arrow {
    position: absolute;
    width: 34px;
    height: 34px;
    border-radius: 5px;
    background-color: #fff;
    top: 50%;
    margin-top: -17px;
    text-align: center;
    line-height: 34px;
    cursor: pointer;
    &.up {
      right: 0;
    }
    &.down {
      left: 0;
    }
  }
}