.ico {
  position: relative;
  width: 50px;
  height: 50px;
  display: inline-block;
  vertical-align: baseline;
  fill: currentColor;
  background-repeat: no-repeat;
  background-position: center;
  
  &:after {
	content: '\a0';
  }
  &__svg {
	position: absolute;
	top: 0;
	left: 0;
	fill: inherit;
	display: block;
	width: 100%;
	height: 100%;
	transform: translateZ(0);
	-ms-transform: translate(0, .5px);
  }
}
.ico--m {
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.ico--s {
  width: 16px;
  height: 16px;
  line-height: 16px;
}
body > svg {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  visibility: hidden;
}

[data-ico="user"] {
  background-image: url("../img/ico_user.png");
}
[data-ico="edit"] {
  background-image: url("../img/ico_edit.png");
}
&[data-ico='fb'] {
  background-image: url("../img/ico-fb.png");
}
&[data-ico='vk'] {
  background-image: url("../img/ico-vk.png");
}
&[data-ico='ok'] {
  background-image: url("../img/ico-ok.png");
}
&[data-ico='ma'] {
  background-image: url("../img/ico-ma.png");
}
&[data-ico='goo'] {
  background-image: url("../img/ico-goo.png");
}
&[data-ico='ya'] {
  background-image: url("../img/ico-ya.png");
}