@import "grid.less";

//Grid
@column-width: 60;
@gutter-width: 30;
@columns: 12;
@total-width: 100%;

@baseFont-Family: Raleway;
@baseFont-Size: 0.9375em;
@baseLine-Height: 1.6;
@baseColor: #2a2826;
@baseCursor: default;

@secondFont-Family: OpenSans, sans-serif;
@secondColor: #ff8400;
@thirdColor: #77c01d;

@pageWidth: 1170px;
@pagePadLeft: 15px;
@pagePadRight: 15px;

@linkColor: @baseColor;
@linkColor--HVR: @secondColor;
@linkText-Decoration: underline;

.clearfix() {
  &:before, &:after {
	content: "";
	display: table;
  }
  &:after {
	clear: both;
  }
}