doctype html
html(lang="ru").no-js
    include inc/head.jade
    body
        .page-wrap
            include inc/header.jade
            main.page-main
                .inner-block.inner-block--s
                    include components/breadcrumbs.jade

                    h1 О нас
                    h2 Paradox
                    p Смысл названия непосредственно связан с сутью услуги: парадоксально, что человек действительно получает подарок (карту), но при этом выбирает и покупает себе этот подарок сам.
                    h2 Брендовый миф
                    p Один из создатель марки — профессиональный психолог, который заметил парадоксальную закономерность: большинство людей не любят говорить о том, что именно они хотели бы получить  в подарок, но при этом в тайне надеются, что  окружающие отгадают их мечты и бывают сильно разочарованы, если этого не случается. Именно поэтому возник такой компромиссный вариант, как подарочная карта.
                    .txt-imp Индивидуальный подход к каждому покупателю позволяет нам находить наиболее эффективные схемы сотрудничества. Мы не стремимся совершить одну-две сделки выгодные только для нас, не учитывающие интересы наших партнеров
                    p Один из создатель марки — профессиональный психолог, который заметил парадоксальную закономерность: большинство людей не любят говорить о том, что именно они хотели бы получить  в подарок, но при этом в тайне надеются, что  окружающие отгадают их мечты и бывают сильно разочарованы, если этого не случается. Именно поэтому возник такой компромиссный вариант, как подарочная карта.
                    figure
                        img(src='img/temp/temp_01.jpg')
                        figcaption Подпись к фото. С интересом смотрели, как взрослеют салоны на улице Бартыцкой в Варшаве. Смотрели, как взрослеют салоны на улице Бартыцкой в Варшаве.

                    p Профессиональный психолог, который заметил парадоксальную закономерность: большинство людей не любят говорить о том, что именно они хотели бы получить  в подарок.
                    .owl-carousel(data-couter data-items='1' data-nav)
                        div
                            figure
                                img(src='img/temp/temp_01.jpg')
                                figcaption Подпись к фото. С интересом смотрели, как взрослеют салоны на улице Бартыцкой в Варшаве. Смотрели, как взрослеют салоны на улице Бартыцкой в Варшаве.
                        div
                            figure
                                img(src='img/temp/temp_01.jpg')
                                figcaption Подпись к фото. С интересом смотрели, как взрослеют салоны на улице Бартыцкой в Варшаве. Смотрели, как взрослеют салоны на улице Бартыцкой в Варшаве.
                    p Один из создатель марки — профессиональный психолог, который заметил парадоксальную закономерность: большинство людей не любят говорить о том, что именно они хотели бы получить  в подарок, но при этом в тайне надеются, что  окружающие отгадают их мечты и бывают сильно разочарованы, если этого не случается. Именно поэтому возник такой компромиссный вариант, как подарочная карта.
                    blockquote
                        .title Василий Петров:
                        .content Индивидуальный подход к каждому покупателю позволяет нам находить наиболее эффективные схемы сотрудничества. Мы не стремимся совершить одну-две сделки выгодные только для нас, не учитывающие интересы наших партнеров
                    p Один из создатель марки — профессиональный психолог, который заметил парадоксальную закономерность: большинство людей не любят говорить о том, что именно они хотели бы получить  в подарок, но при этом в тайне надеются, что  окружающие отгадают их мечты и бывают сильно разочарованы, если этого не случается. Именно поэтому возник такой компромиссный вариант, как подарочная карта.
                    h4 Маркированный список:
                    ul
                        li мы самая большая компания,
                        li самый крупный поставщик,
                        li и лидер рынка
                    h4 Нумерованный список:
                    ol
                        li Большинство людей не любят говорить о том;
                        li паковочная лента: полипропиленовая (PP), полиэстеровая (PET), металлическая;
                        li Оборудование для стретч пленки (паллетоупаковщики, паллетайзеры) и упаковочной ленты;
                        li Пластиковые индикаторные пломбы (выявляющие факт вскрытия);
                        li Маркировочное оборудование;
                        li Пластиковые поддоны (европаллеты) и многое другое.
                    h2 Заголовок H2
                    p Мы стараемся постоянно совершенствовать свою работу для создания доверительных отношений с клиентами, стремимся к тому, чтобы каждый покупатель остался доволен качеством товара и обслуживанием. За годы неустанной работы мы смогли многократно увеличить число своих клиентов.
                    h3 Заголовок H3
                    p Мы стараемся постоянно совершенствовать свою работу для создания доверительных отношений с клиентами, стремимся к тому, чтобы каждый покупатель остался доволен качеством товара и обслуживанием. За годы неустанной работы мы смогли многократно увеличить число своих клиентов.
                    h4 Заголовок H4
                    p Мы стараемся постоянно совершенствовать свою работу для создания доверительных отношений с клиентами, стремимся к тому, чтобы каждый покупатель остался доволен качеством товара и обслуживанием. За годы неустанной работы мы смогли многократно увеличить число своих клиентов.
                    table
                        thead
                            tr
                                th Толщина, мкр
                                th Ширина, мм
                                th Метров в рулоне
                                th Вес, кг

                        tbody
                            tr.title
                                td(colspan=4) Подзаголовок 1
                            tr
                                td 17
                                td 500
                                td 200-300
                                td 1,76-2,54
                            tr
                                td 20
                                td 500
                                td 200-300
                                td 2,03-2,95
                            tr
                                td 23
                                td 500
                                td 200-300
                                td 2,3-3,5

                        tbody
                            tr.title
                                td(colspan=4) Подзаголовок 2
                            tr
                                td 17
                                td 500
                                td 200-300
                                td 1,76-2,54
                            tr
                                td 20
                                td 500
                                td 200-300
                                td 2,03-2,95
                            tr
                                td 23
                                td 500
                                td 200-300
                                td 2,3-3,5
                    p Один из создатель марки — профессиональный психолог, который заметил парадоксальную закономерность: большинство людей не любят говорить о том, что именно они хотели бы получить  в подарок, но при этом в тайне надеются, что  окружающие отгадают их мечты и бывают сильно разочарованы, если этого не случается. Именно поэтому возник такой компромиссный вариант, как подарочная карта.
                    .video(data-ratio='4x3')
                        iframe(width="560" height="315" src="https://www.youtube.com/embed/eRsGyueVLvQ?rel=0" allowfullscreen)
            include inc/footer.jade

        include inc/foot.jade