doctype html
html(lang="ru").no-js
    include inc/head.jade
    body
        .page-wrap
            include inc/header.jade
            main.page-main
                .inner-block
                    include components/breadcrumbs.jade
                    h1 Корзина
                    .cart
                        table
                            tr.cart__item
                                td.cart__item-pic
                                    img(src='img/temp/temp_02.jpg').cart__item-pic__img
                                td.cart__item-desc
                                    .cart__item-title Эльдорадо
                                    .cart__item-cat Подарочный сертификат
                                td.cart__item-price 10 000 <span class="priceRu">руб.</span>
                                td.cart__item-stepper
                                    .form-grp
                                        label.form-label-hid Свой номинал
                                        input(type='number' min="1" max="20" step="2" pattern="[0-9]*" value='1' readonly).form-ctrl
                                td.cart__item-price.cart__item-price--total 10 000 <span class="priceRu">руб.</span>
                                td.cart__item-ctrl
                                    a(href='#').cart__item-ctrl-remove
                                        i(data-ico="remove").ico.ico--s
                                            svg.ico__svg
                                                use(xlink:href="#remove")
                            tr.cart__item
                                td.cart__item-pic
                                    img(src='img/temp/temp_03.jpg').cart__item-pic__img
                                td.cart__item-desc
                                    .cart__item-title Красная коробка  с золотым бантом
                                    .cart__item-cat Подарочная упаковка
                                td(colspan='2')
                                td.cart__item-price.cart__item-price--total 200 <span class="priceRu">руб.</span>
                                td.cart__item-ctrl
                                    a(href='#').cart__item-ctrl-remove
                                        i(data-ico="remove").ico.ico--s
                                            svg.ico__svg
                                                use(xlink:href="#remove")
                            tr.cart__item
                                td.cart__item-pic
                                    img(src='img/temp/temp_04.jpg').cart__item-pic__img
                                td.cart__item-desc
                                    .cart__item-title Девушка, вы просто богиня!
                                    .cart__item-cat Открытка
                                td(colspan='2').cart__item-form
                                    .form-grp
                                        label.form-label-hid Текст поздравления
                                        textarea(placeholder='Здесь вы можете добавить текст поздравление ').form-ctrl
                                    .cart__item-form-ctrl
                                        span.apseudo
                                            i(data-ico="edit").ico.ico--s
                                            | Редактировать
                                td.cart__item-price.cart__item-price--total 100 <span class="priceRu">руб.</span>
                                td.cart__item-ctrl
                                    a(href='#').cart__item-ctrl-remove
                                        i(data-ico="remove").ico.ico--s
                                            svg.ico__svg
                                                use(xlink:href="#remove")
                            tr.cart__item
                                td.cart__item-pic
                                    img(src='img/temp/temp_05.jpg').cart__item-pic__img
                                td.cart__item-desc
                                    .cart__item-title Экспедиция
                                    .cart__item-cat Подарочная карта
                                td.cart__item-price 500 000 <span class="priceRu">руб.</span>
                                td.cart__item-stepper
                                    .form-grp
                                        label.form-label-hid Свой номинал
                                        input(type='number' min="1" max="20" step="2" pattern="[0-9]*" value='1' readonly).form-ctrl
                                td.cart__item-price.cart__item-price--total 500 000 <span class="priceRu">руб.</span>
                                td.cart__item-ctrl
                                    a(href='#').cart__item-ctrl-remove
                                        i(data-ico="remove").ico.ico--s
                                            svg.ico__svg
                                                use(xlink:href="#remove")
                            tr.cart__item
                                td.cart__item-pic
                                    img(src='img/temp/temp_02.jpg').cart__item-pic__img
                                td.cart__item-desc
                                    .cart__item-title Экспедиция
                                    .cart__item-cat Подарочная карта
                                td.cart__item-price 20 000 <span class="priceRu">руб.</span>
                                td.cart__item-stepper
                                    .form-grp
                                        label.form-label-hid Свой номинал
                                        input(type='number' min="1" max="20" step="2" pattern="[0-9]*" value='1' readonly).form-ctrl
                                td.cart__item-price.cart__item-price--total 20 000 <span class="priceRu">руб.</span>
                                td.cart__item-ctrl
                                    a(href='#').cart__item-ctrl-remove
                                        i(data-ico="remove").ico.ico--s
                                            svg.ico__svg
                                                use(xlink:href="#remove")

                    .cart-footer
                        .cart-footer__col
                            span.back-step
                                a(href="#").back-step__link Вернуться к покупкам
                        .cart-footer__col.cart-footer__col--full.cart-footer__total-txt
                            span.big Общая стоимость:
                        .cart-footer__col
                            .cart-footer__total-summ 300 500 <span class="priceRu">руб.</span>
                            button.btn
                                span.btn__txt Оформить заказ
            include inc/footer.jade

        include inc/foot.jade