doctype html
html(lang="ru").no-js
    include inc/head.jade
    body
        .page-wrap
            include inc/header.jade
            main.page-main
                .inner-block
                    include components/breadcrumbs.jade
                    h2 Подарочный сертификат Эльдорадо
                    include components/product-info.jade
                    include components/similar.jade

            include inc/footer.jade

        include inc/foot.jade