doctype html
html(lang="ru").no-js
    include inc/head.jade
    body
        .page-wrap
            include inc/header.jade
            main.page-main
                include components/intro.jade
                .inner-block
                    //include components/search-bar.jade
                    include components/suggestion.jade
                    include components/advantages.jade
                    //include components/map.jade
                    include components/reviews.jade
                    include components/how-it-works.jade
                    include components/sunbsribe_about-txt.jade
                    .backToTop.backToTop--fixed
                        .backToTop__inner
                            i(data-ico="arrow-top").ico.ico--m
                                svg.ico__svg
                                    use(xlink:href="#arrow-top")
            include inc/footer.jade

        include inc/foot.jade