.advantages {
  margin-bottom: 72px;
  h2, .h2 {
    font-size: 1.3333333333333333em;
    line-height: 1.2000000000000002;
    text-transform: uppercase;
    margin-top: 3.5em;
    margin-bottom: 2.4000000000000004em;
    overflow: hidden;

    span {
      position: relative;
      &:before, &:after {
        content: '';
        position: absolute;
        height: 2px;
        background-color: #d8d3d0;
        width: @pageWidth;
        margin-top: -1px;
        top: 50%;
      }
      &:before {
        left: 100%;
        margin-left: 20px;
      }
      &:after {
        right: 100%;
        margin-right: 20px;
      }
    }
  }

  &__icons {
    display: table;
    width: 100%;
    table-layout: fixed;
    text-align: center;

    &-item {
      display: table-cell;
      padding: 0 10px;
    }
    &-txt {
      font-size: 1.2em;
      line-height: 1.1666666666666665;
      margin-top: 1.222222222222222em;
    }
  }
  .ico-wrap {
    display: inline-block;
    vertical-align: top;
    color: #fac95f;
  }
  .ico {
    margin-top: 10px;
    width: 74px;
    height: 74px;
  }
}