.backToTop {
  float: right;
  position: relative;
  color: #fff;
  z-index: 1;


  &__inner {
	cursor: pointer;
	width: 46px;
	height: 36px;
	background-color: #150051;
	top: 58px;
	left: 100%;
	position: relative;
	bottom: 0;
	text-align: center;
	padding-top: 6px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;

	&:hover {
	  background-color: #3f3f3f;
	}
  }
  &--fixed &__inner {
	position: fixed;
	top: auto;
	left: auto;
  }
}