.breadcrumbs {
  text-align: center;
  margin-top: 32px;
  &__link {
    color: #9c9c9c;
    text-decoration: none;
    margin-right: 10px;

    & + & {
      margin-left: 8px;
    }

    &:after {
      content: '›';
      position: absolute;
      padding-left: 6px;
      font-family: @secondFont-Family;
    }
  }
  + h2, + .h2 {
    margin-top: 0.7em;
    margin-bottom: 1.1em;
  }
}