.owl-carousel {
  margin-top: 3.6em;
  margin-bottom: 3em;
  .no-js & {
    > div + div {
      display: none;
    }
  }
}

.owl-nav {
  text-align: center;
  font-family: @secondFont-Family;

  &>div {
    display: inline-block;
    vertical-align: bottom;
  }
}
.owl-prev, .owl-next {
  font-size: 2.533333333333333em;
  line-height: 0.8421052631578947;
  &:hover {
    color: #77c01d;
  }
}
.owl-count {
  font-size: 1.2em;
  line-height: 1.3333333333333333;
  font-weight: bold;
  margin: 0 8px;

  &__index,
  &__total {
    min-width: 22px;
  }
  &__index {
    text-align: right;

  }
  &__total {
    text-align: left;
  }
  &__sep:after {
    content: '/';
    margin: 0 5px;
  }
}

.owl-theme .owl-stage-outer {
  z-index: -1;
}

.owl-theme .owl-controls {
  margin-top: -40px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.owl-theme .owl-dots .owl-dot span {
  width: 15px;
  height: 15px;
  margin: 5px 7px;
  display: block;
  -webkit-backface-visibility: visible;
  outline: none;
  border-radius: 50%;
  background-color: #fff;
  text-indent: -999em;

  background-color: transparent;
  box-shadow: inset 0 0 0 2px white;
  -webkit-transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  box-shadow: inset 0 0 0 8px white;
}