.cart {
  background-color: #FFF;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.13);
  table {
    margin-bottom: 0;
  }
  td {
    vertical-align: middle;
    padding: 30px;
  }
  tr:hover td {
    background-color: #fcfcfc;
  }


  &__item {
    &-pic {
      padding-top: 30px;
      padding-bottom: 30px;
      width: 210px;
      max-width: 210px;
      height: 160px;
      text-align: center;
     &__img {
       vertical-align: top;
       border-radius: 5px;
     }
    }
    &-desc {
      width: 190px;
    }
    &-title {
      font-size: 1.2em;
      line-height: 1.1666666666666665;
      font-weight: bold;
      margin-bottom: 0.1111111111111111em;
    }
    &-cat {
      color: #9c9c9c;
    }
    &-price {
      font-weight: bold;
      font-family: Arial,"Helvetica Neue", Helvetica,  sans-serif;
      font-size: 1.2em;
      line-height: 1.3333333333333333;
      white-space: nowrap;

      &--total {
        color: @thirdColor;
      }
    }
    &-ctrl {
      text-align: center;
      width: 0;
      &-remove {
        width: 16px;
        height: 16px;
        padding: 7px;
        background-color: #fbfaf8;
        border-radius: 50%;
        display: inline-block;
        .ico {
          vertical-align: top;
        }
      }
    }
    &-stepper {
      font-weight: bold;
      width: 130px;
      .stepper-arrow {
        font-size: 1.0666666666666667em;
        background-color: #f4f2ed;
      }
    }
    &-form {
      textarea {
        background-color: #ffffff;
      }
      &-ctrl {
        margin-left: 20px;
        font-size: 0.8em;
        line-height: 1.3333333333333333;
        margin-top: 20px;
        .apseudo {
          color: #9c9c9c;
          &:hover {
            color: @linkColor--HVR;
          }
        }
        .ico {
          margin-right: 10px;
        }
      }
    }
  }

  &-footer {

    padding-top: 40px;


    &__col {
      display: table-cell;
      vertical-align: middle;
      &--full {
        width: 100%;
        padding-left: 70px;
      }
    }
    .back-step {
      white-space: nowrap;
      position: relative;
      top: -2px;
      &__link {
        color: #000;
        &:before {
          font-family: @secondFont-Family;
          font-size: 1.3333333333333333em;
          line-height: 1.3;
          display: inline-block;
          vertical-align: bottom;
          content: '‹';
          margin-right: 10px;
        }
      }


    }
    &__total {
      &-txt {
        text-align: right;
        vertical-align: top;
        padding-right: 40px;
        padding-top: 14px;
      }
      &-summ {
        font-size: 2em;
        line-height: 1.2;
        font-weight: bold;
        font-family: Arial,"Helvetica Neue", Helvetica,  sans-serif;
        margin-bottom: 20px;
        white-space: nowrap;
      }
    }
  }
}