.header__nav {
  display: table-cell;
  white-space: nowrap;
  padding-right: 2px;
  width: 1%;

  &-item {
    display: table-cell;
    position: relative;

    &:after {
      content: '';
      background-color: #fff;
      position: absolute;
      width: 2px;
      height: 17px;
      top: 50%;
      margin-top: -9px;
      right: -2px;
    }
    &:hover:after {
      display: none;
    }
  }

  &-link {
    color: @baseColor;
    text-decoration: none;
    display: block;
    padding: 32px 32px 29px 34px;
    text-transform: uppercase;
    border: 1px solid transparent;
    border-bottom: none;
    position: relative;
    font-size: 0.9333333333333333em;
    line-height: 1.7142857142857142;
    font-weight: bold;

    &:after {
      background: inherit;
      display: none;
      bottom: -2px;
      content: "";
      height: 3px;
      left: 0;
      position: absolute;
      right: 0;
      z-index: 2;
    }
  }
  &-item:hover &-link {
    background-color: #fff;
    color: #232323;
    border-color: #cecece;
    &:after {
      display: block;
    }
  }
  &-sub {
    background-color: #fff;
    color: #232323;
    border: 1px solid #cecece;
    position: absolute;
    top: 100%;
    left: 0;
    text-align: left;
    font-weight: normal;
    text-transform: none;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 22px;
    padding-bottom: 20px;
    z-index: 1;
    display: none;
    white-space: normal;

    &__item {
      & + & {
        margin-top: 10px;
      }
    }
    a&__link {
      color: #232323;
      text-decoration: none;
      &:hover {
        color: #00c2d9;
      }
    }
    &__col {
      display: table-cell;
      min-width: 180px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  &-item:hover &-sub {
    display: block;
  }
  &-item:last-child &-sub {
    left: auto;
    right: 0;
  }
}
