.header-panel {
  background-color: #ffffff;
  color: #2a2826;
  padding-top: 6px;
  padding-bottom: 7px;
  text-align: right;

  &__nav,
  &__contacts,
  &__additional {
    display: table-cell;
    vertical-align: middle;
    white-space: nowrap;
    height: 26px;
    width: 1%;
  }

  &__nav {
    white-space: nowrap;
    width: 0;
    font-size: 0.8em;
    line-height: 1.5;
    text-align: left;
    padding-left: 316px;

    &-link {
      color: #9c9c9c;
      text-decoration: none;

      &:hover {
        color: #2a2826;
      }
      & + & {
        margin-left: 2.25em;
      }
    }
  }
  &__contacts {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1.1333333333333333em;
    line-height: 1.1764705882352942;
    font-weight: bold;

    .ico {
      margin-right: 16px;
    }
  }
  &__additional {
    padding-left: 20px;
    padding-right: 40px;
    &-link {
      font-size: 0.8em;
      font-weight: bold;
      text-decoration: none;
      line-height: 1.5;
      text-transform: uppercase;
      background-color: #fac95f;
      padding-top: 7px;
      padding-bottom: 6px;
      padding-right: 16px;
      padding-left: 16px;
      border-radius: 12px;
      color: #2a2826;

      &:hover {
        background-color: #face6f;
        color: #2a2826;
      }
    }
  }
}