.how-it-works {
  padding-bottom: 72px;
  border-bottom: 2px solid #d8d3d0;
  margin-bottom: 45px;
  h2, .h2 {
    font-size: 1.3333333333333333em;
    line-height: 1.2000000000000002;
    text-transform: uppercase;
    margin-top: 3.5em;
    margin-bottom: 2.4000000000000004em;
    overflow: hidden;

    span {
      position: relative;
      &:before, &:after {
        content: '';
        position: absolute;
        height: 2px;
        background-color: #d8d3d0;
        width: @pageWidth;
        margin-top: -1px;
        top: 50%;
      }
      &:before {
        left: 100%;
        margin-left: 20px;
      }
      &:after {
        right: 100%;
        margin-right: 20px;
      }
    }
  }

  &__icons {
    display: table;
    width: 100%;
    table-layout: fixed;
    text-align: center;

    &-item {
      display: table-cell;
      padding: 0 10px;

      &:first-child .ico-wrap:before {
        display: none;
      }

      &:nth-child(2) .ico-wrap  {
        border-color: #c01eda;
        color: #c01eda;
      }
      &:nth-child(3) .ico-wrap  {
        border-color: #27ce0c;
        color: #27ce0c;
      }
      &:nth-child(4) .ico-wrap  {
        border-color: #ff61c2;
        color: #ff61c2;
      }
      &:nth-child(5) .ico-wrap  {
        border-color: #faac48;
        color: #faac48;
      }
    }
    &-txt {
      font-size: 0.9333333333333333em;
      line-height: 1.1428571428571428;
      margin-top: 1.2857142857142856em;
    }
  }
  .ico-wrap {
    width: 80px;
    height: 80px;
    display: inline-block;
    vertical-align: top;
    border: 3px solid #12d4ea;
    border-radius: 50%;
    color: #12d4ea;
    position: relative;


    &:before {
      content: '••••••••';
      font-size: 2.6666666666666665em;
      line-height: 1;
      position: absolute;
      top: 50%;
      margin-top: -20px;
      right: 100%;
      margin-right: 20px;
      color: #fff;
    }
  }
  .ico {
    margin-top: 15px;
  }
}