.information {
  margin-bottom: 32px;
  clear: both;
  .tab {
    &__switcher {
      background-color: #f4f4f4;
      text-align: center;

      &-item {
        text-decoration: none;
        color: #9c9c9c;
        font-weight: bold;
        padding-top: 11px;
        padding-bottom: 13px;
        padding-left: 34px;
        padding-right: 34px;
        cursor: pointer;
        &:hover {
          background-color: #fcfcfc;
        }
        &.active {
          color: @baseColor;
          background-color: #e0e0e0;
          cursor: default;
        }
      }
    }
    &__content {
      background-color: #fff;
      padding-top: 41px;
      padding-left: 162px;
      padding-right: 162px;
      padding-bottom: 39px;
      .clearfix();
    }
  }
}