.arcticmodal {
  &-overlay {
    background: #282828;
    opacity: .85;
  }
  &-container {
    &_i {
      background: none;
      width: auto;
    }
    &_i2 {
      > div {
        display: block !important;
      }
    }
  }
  &-loading {
    background: none;
  }
}

.modal {
  min-width: 704px;
  &__header {
    background-color: #77C01D;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #ffffff;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 13px;
    padding-bottom: 15px;

    .apseudo {
      color: #ffffff;
      margin-left: 30px;
      &:hover {
        color: @secondColor;
      }
    }
  }
  &__content {
    background-color: #FFF;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 60px;
    padding-right: 60px;
  }
}