.paginator {
  font-family: @secondFont-Family;

  &__item {
    text-decoration: none;
    padding: 4px;
    min-width: 28px;
    display: inline-block;
    text-align: center;

    & + & {
      margin-left: 5px;
    }
    &-link {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }

      &--prev:before, &--next:after {
        font-family: @secondFont-Family;
        font-size: 2.533333333333333em;
        line-height: 0.8421052631578947;
        display: inline-block;
        vertical-align: bottom;
      }


      &--prev {
        margin-right: 20px;

        &:before {
          content: '‹';
          margin-right: 10px;
        }
      }
      &--next {
        margin-left: 20px;

        &:after {
          content: '›';
          margin-left: 10px;
        }
      }
    }
    &--active {
      color: #fff;
      background-color: @secondColor;
    }
  }
}