.search-bar {
  background-color: #f9af42;
  background-image: linear-gradient(to top, rgba(247, 142, 48, 0.9) 0%, rgba(254, 199, 66, 0.9) 100%);
  border-radius: 10px;
  padding-left: 40px;
  padding-right: 28px;
  padding-top: 28px;
  padding-bottom: 30px;
  margin-bottom: 60px;
  box-shadow: 0 15px 15px -15px rgba(0, 0, 0, 0.5);

  &__form {
    &-text {
      display: table-cell;
      vertical-align: middle;
      width: 304px;
      max-width: 304px;
      padding-right: 20px;
    }
    &-select {
      display: table-cell;
      vertical-align: middle;
      width: 286px;
      max-width: 286px;
      padding-right: 26px;
    }
    &-range {
      display: table-cell;
      vertical-align: middle;
      width: 300px;
      max-width: 300px;
      padding-right: 24px;
      .form-label {
        display: table-cell;
        width: 1%;
        padding-right: 12px;
      }
      .form-range {
        display: table-cell;
      }
      [type='range'] {
        vertical-align: top;
      }
      .irs {
        margin-top: 0;
        color: #fff;
      }
    }
    &-button {
      display: table-cell;
      vertical-align: middle;
      width: 140px;
      max-width: 140px;
      .btn {
        font-size: 1.2em;
        line-height: 1.3333333333333333;
      }
    }
  }
  .selectric, .form-ctrl {
    background-color: #ffffff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.13);
  }
}
