.social-links {
  &__label {
    margin-right: 10px;
    vertical-align: middle;
  }
  &__item {
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: middle;
    & + & {
      margin-left: 7px;
    }
    .ico--s {
      width: 20px;
      height: 20px;
      line-height: 20px;
    }
  }
}