.sort {
  text-align: center;
  margin-bottom: 30px;

  &__item {
    margin: 0 7px;
    text-decoration: none;

    &:after {
      content: '▼';
      display: inline-block;
      font-size: 0.7333333333333333em;
      transform: scaleY(0.65);
      margin-left: 6px;
    }

    &:hover {
      text-decoration: underline;
    }
    &--active {
      color: @secondColor;

      &:after {
        content: '▲';
      }
    }
  }
}