.sunbsribe {
  background-color: #96d160;
  background-image: linear-gradient(45deg, rgba(35, 182, 138, 0.9) 0%, rgba(81, 188, 120, 0.9) 0%, rgba(174, 217, 94, 0.9) 100%);
  border-radius: 10px;
  color: #fff;
  padding-top: 24px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 44px;

  &__title {
    text-align: center;
    font-size: 1.2em;
    line-height: 1.3333333333333333em;
    font-weight: bold;
    margin-bottom: 18px;
  }
  .form-grp {
    margin-bottom: 18px;
  }
}